- University : University of Milano-Bicocca
- Program : MS Data Science 2025-27
- Course : Foundation Of Computer Science
- **Final Project**
- **Submitted by** :
  - **Fayyaz Hussain Shah - 946912**

In [2]:
import os
from logging import exception
import pandas as pd

### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [8]:
dfs = []
for item in os.listdir('Data Files'):
    if item.endswith('.csv'):
        try:
            df = pd.read_csv(f'Data Files/{item}', encoding="ISO-8859-1")
            df['country']=item[0:2]
            dfs.append(df)
        except Exception as e:
            print(e)
            print(f'Error : {item}')
dataset = pd.concat(dfs, ignore_index=True)

### 2. Extract all videos that have no tag.

In [9]:
dataset.loc[dataset['tags'] == '[none]']

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
41,JwboxqDylgg,17.14.11,Canada Soccer's Women's National Team v USA In...,Canada Soccer,17,2017-11-13T05:53:49.000Z,[none],36311,277,28,13,https://i.ytimg.com/vi/JwboxqDylgg/default.jpg,False,False,False,Canada Soccer's Women's National Team face riv...,CA
58,9B-q8h31Bpk,17.14.11,John Oliver Tackles Louis C.K. And Donald Trum...,TV Shows,22,2017-11-13T04:49:26.000Z,[none],106029,1270,101,181,https://i.ytimg.com/vi/9B-q8h31Bpk/default.jpg,False,False,False,"John Oliver on News, Politics ...",CA
78,1UE5Dq1rvUA,17.14.11,Taylor Swift Perform Ready For It - SNL,Ken Reactz,24,2017-11-12T05:18:02.000Z,[none],320964,8069,285,717,https://i.ytimg.com/vi/1UE5Dq1rvUA/default.jpg,False,False,False,Thanks for watching please subscribe and subsc...,CA
86,pmJQ4KwliX4,17.14.11,"LATEST Q POSTS: ROTHSCHILDS, HOUSE OF SAUD, lL...",James Munder,2,2017-11-12T21:25:40.000Z,[none],116820,1503,139,1066,https://i.ytimg.com/vi/pmJQ4KwliX4/default.jpg,False,False,False,https://pastebin.ca/3930472\n\nSupport My Chan...,CA
98,lHcXhBojpeQ,17.14.11,ä¸å±TVBè¦å¸ï¼ææ£10å¹´éæ¢ ç«¹é¦¬é«®å¦...,ææç¾æç,22,2017-11-12T12:49:50.000Z,[none],88061,47,58,17,https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg,False,False,False,NaN,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375815,VGykknw9eCM,18.14.06,"Made Defiant: The Mixtape ft. Neymar Jr., Kane...",Beats by Dre,10,2018-06-07T07:01:06.000Z,[none],3577614,12318,1345,1414,https://i.ytimg.com/vi/VGykknw9eCM/default.jpg,False,False,False,"When your time comes, you have two choices. Yo...",US
375819,fAIX12F6958,18.14.06,Bumblebee (2018) - Official Teaser Trailer - P...,Paramount Pictures,1,2018-06-05T07:00:01.000Z,[none],19864779,228670,16420,46318,https://i.ytimg.com/vi/fAIX12F6958/default.jpg,False,False,False,Every adventure has a beginning. Watch the off...,US
375865,gS1DbvHHVH0,18.14.06,Going in to brain surgery,Simone Giertz,28,2018-05-30T14:22:13.000Z,[none],1635301,120791,1098,20711,https://i.ytimg.com/vi/gS1DbvHHVH0/default.jpg,False,False,False,Weâll post an update on Instagram and Twitte...,US
375873,E4c7EE8_IX0,18.14.06,Weezer - Africa,weezer,10,2018-05-29T12:00:11.000Z,[none],4682557,115240,5069,9170,https://i.ytimg.com/vi/E4c7EE8_IX0/default.jpg,False,False,False,Stream + download the song: http://fanlink.to/...,US
375938,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,US

### 3. For each channel, determine the total number of views

In [10]:
dataset.groupby('channel_title')['views'].sum().reset_index()

                                 channel_title    views
0                     ! ì¸ìì ë¬´ì¨ì¼ì´  3942977
1            !!8æã ãé¢ç½ãã¿å¤§éå    50207
2                       !BTSã»TWICE ã¾ã¨ã     7310
3                      !Los amorosos ViralesÂ¡     6069
4                                      !t Live   240038
...                                        ...      ...
37819                   ï¼åã§ã§ãã DIY   272607
37820                       ï¼¢ï¼¡ï¼³ï¼¨ï½ï½   116292
37821  ï¼«ã®ãã£ãã·ã³ã°ã¡ããã­ã    37165
37822                    ï¼·ï¼¡ï¼ªï¼¯ï¼©ï¼«ï¼¡   424129
37823                              ðSandrea   347155

[37824 rows x 2 columns]

### 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [5]:
excluded = dataset.loc[(dataset['comments_disabled'] == True) & (dataset['ratings_disabled'] == True) | (dataset['video_error_or_removed'] == True)]
dataset = dataset.loc[~(
        (dataset['comments_disabled'] == True) &
        (dataset['ratings_disabled'] == True) |
        (dataset['video_error_or_removed'] == True))
]

### 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [6]:
dataset['like_ratio'] = dataset['likes'] / dataset['dislikes']

### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [7]:
dataset['publish_time'] = pd.to_datetime(dataset['publish_time'])
dataset['publish_10min'] = dataset['publish_time'].dt.floor('10T')

C:\Users\fizha\AppData\Local\Temp\ipykernel_4520\343424406.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  dataset['publish_10min'] = dataset['publish_time'].dt.floor('10T')

### 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [8]:
dataset.groupby('publish_10min').agg(
    num_videos=('video_id', 'count'),
    avg_likes=('likes', 'mean'),
    avg_dislikes=('dislikes', 'mean')
).reset_index()

                  publish_10min  num_videos    avg_likes  avg_dislikes
0     2006-07-23 08:20:00+00:00           1   459.000000      152.0000
1     2007-03-05 16:20:00+00:00           9   336.666667        2.0000
2     2007-06-25 06:50:00+00:00          12   579.833333       11.5000
3     2007-12-03 20:50:00+00:00          16   187.937500       15.6875
4     2008-01-07 21:20:00+00:00          10    99.900000        2.0000
...                         ...         ...          ...           ...
30392 2018-06-14 02:30:00+00:00           1   853.000000       77.0000
30393 2018-06-14 03:00:00+00:00           2  2304.500000       31.5000
30394 2018-06-14 03:20:00+00:00           1  1414.000000       28.0000
30395 2018-06-14 03:30:00+00:00           1  8481.000000      252.0000
30396 2018-06-14 03:40:00+00:00           1   374.000000       24.0000

[30397 rows x 4 columns]

### 8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

In [9]:
dataset['tag_list'] = dataset['tags'].str.replace('"', '', regex=True).str.split('|')
tags_exploded = dataset.explode('tag_list')
tag_counts = tags_exploded.groupby('tag_list')['video_id'].count().reset_index()
tag_counts

                                                 tag_list  video_id
0                                                               727
1                                             #Freeticket         3
2                                                   #GST          1
3                                              #Jaisimha          3
4                                         #JanaSenaParty          2
...                                                   ...       ...
849298                                               ð¥         2
849299           ð­ #rÃ©sistancelamaindesqueezie â¤ï¸         1
849300  ð­ÙÙØ² Ø¹Ø³ÙØ±Ù Ø§ÙÙØ­ÙØ¯ Ù
Ù Ø§ÙØ·...         1
849301                             ð smartpixel.com.ua         1
849302                    ð¤ ZARBEX zahlt Schutzgeld!!!         1

[849303 rows x 2 columns]

### 9. Find the tags with the largest number of videos

In [10]:
tag_counts[tag_counts['video_id'] == tag_counts['video_id'].max()]

       tag_list  video_id
231721   [none]     37209

### 10. For each (tag, country) pair, compute average ratio likes/dislikes

In [11]:
tags_exploded.groupby(['tag_list', 'country']).agg(
    avg_like_ratio=('like_ratio', 'mean')
).reset_index()

,tag_list,country,avg_like_ratio
0,,CA,13.400243
1,,DE,23.656067
2,,FR,17.879422
3,,IN,8.137764
4,,JP,9.894877
...,...,...,...
1098655,ð¥,DE,26.384615
1098656,ð­ #rÃ©sistancelamaindesqueezie â¤ï¸,FR,10.219048
1098657,ð­ÙÙØ² Ø¹Ø³ÙØ±Ù Ø§ÙÙØ­ÙØ¯ Ù Ù Ø§ÙØ·...,FR,6.223873
1098658,ð smartpixel.com.ua,RU,0.714286
1098659,ð¤ ZARBEX zahlt Schutzgeld!!!,DE,13.989691

### 11. For each (trending_date, country) pair, the video with the largest number of views

In [12]:
new_data = dataset.loc[dataset.groupby(['trending_date', 'country'])['views'].idxmax()].reset_index(drop=True)
new_data[['trending_date', 'country', 'video_id', 'title', 'views']]

,trending_date,country,video_id,title,views
0,17.01.12,CA,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,56367282
1,17.01.12,DE,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,56367282
2,17.01.12,FR,3VbHg5fqBYw,Avengers: Infinity War Trailer Tease,7281189
3,17.01.12,GB,TyHvyGVs42U,"Luis Fonsi, Demi Lovato - Ãchame La Culpa",143408235
4,17.01.12,IN,6ZfuNTqbHE8,Marvel Studios' Avengers: Infinity War Officia...,56367282
...,...,...,...,...,...
1962,18.31.05,JP,aJOTlE1K90k,Maroon 5 - Girls Like You ft. Cardi B,3057987
1963,18.31.05,KR,ntWSnDV0MYs,[MV] AOA _ Bingle Bangle(ë¹ê¸ë± ê¸),4150448
1964,18.31.05,MX,xTlNMmZKwpA,"Cardi B, Bad Bunny & J Balvin - I Like It [Off...",20723565
1965,18.31.05,RU,1nX0kF2UwDc,[BadComedian] - ÐÐ²Ð¸Ð¶ÐµÐ½Ð¸Ðµ ÐÐ²ÐµÑÑ (Ð...,3125598
1966,18.31.05,US,VYOjWnS4cMY,Childish Gambino - This Is America (Official V...,217750076

### 12. Divide trending_date into three columns: year, month, day

In [13]:
dataset['trending_date'] = pd.to_datetime(dataset['trending_date'], format='%y.%d.%m')
dataset['trending_date_year'] = dataset['trending_date'].dt.year
dataset['trending_date_month'] = dataset['trending_date'].dt.month
dataset['trending_date_day'] = dataset['trending_date'].dt.day

### 13. For each (month, country) pair, the video with the largest number of views

In [14]:
new_data = dataset.loc[dataset.groupby(['trending_date_month', 'country'])['views'].idxmax()].reset_index(drop=True)
new_data[['trending_date_month', 'country', 'video_id', 'title', 'views']]

,trending_date_month,country,video_id,title,views
0,1,CA,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,43067983
1,1,DE,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
2,1,FR,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
3,1,GB,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,90598955
4,1,IN,dfnCAmr569k,"Taylor Swift - End Game ft. Ed Sheeran, Future",42019590
...,...,...,...,...,...
72,12,IN,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,125432237
73,12,KR,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,113876217
74,12,MX,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,100912384
75,12,RU,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,52611730
76,12,US,FlsCjmMhFmw,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,149376127

### 14. Read all json files with the video categories

In [15]:
dfs = []
for item in os.listdir('Data Files'):
    if item.endswith('.json'):
        try:
            df = pd.read_json(f'Data Files/{item}', encoding='ISO-8859-1')
            df['country']=item[0:2]
            dfs.append(df)
        except Exception as e:
            print(e)
            print(f'Error : {item}')
dataset_json = pd.concat(dfs, ignore_index=True)

### 15. For each country, determine how many videos have a category that is not assignable.

In [16]:
def check_assignable(row):
    if row['items']['snippet']['assignable']:
        return 1
    else:
        return 0

dataset_json['assignable_flag'] = dataset_json.apply(check_assignable, axis=1)
dataset_json.groupby('country')['assignable_flag'].sum().reset_index(name='num_of_assignable_videos')

  country  num_of_assignable_videos
0      CA                        14
1      DE                        14
2      FR                        14
3      GB                        14
4      IN                        14
5      JP                        14
6      KR                        14
7      MX                        14
8      RU                        14
9      US                        15